#all_content div .home .buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem;
  width: 36rem;
  background-color: rgba(26, 147, 111, 0.6);
  border-radius: 30px;
  border: 5px solid white;
}
#all_content div .home .buttons button a {
  font-size: 3.2rem;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
  color: white;
  letter-spacing: 0.1rem;
}

html {
  font-size: 10px;
}

body {
  margin: 0px;
  background-image: url("../../all_images/61.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

body::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 40%;
  z-index: -1;
}

#all_content {
  width: 100%;
  height: 100%;
}
#all_content div .header_home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0% 5%;
  justify-content: flex-end;
  align-items: center;
  height: 15rem;
  background-color: #137054;
}
#all_content div .header_home .about {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 500;
  padding: 1.5% 2%;
  color: white;
  border: 7px solid white;
  background-color: transparent;
}
#all_content div .home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#all_content div .home .logo_boost {
  margin: 0px auto;
  padding: 33% 0% 2%;
  width: 51rem;
  height: 25rem;
}
#all_content div .home p {
  font-family: Poppins, Arial;
  font-weight: 200;
  line-height: 6rem;
  letter-spacing: 0.17rem;
  color: #fff;
  text-align: center;
  font-size: 3.3rem;
  padding: 5.8% 7%;
  margin: 0px;
  order: 0;
}
#all_content div .home .buttons {
  order: 1;
  flex-direction: column;
  display: flex;
  margin: 3rem auto;
}
#all_content div .home .buttons .enter {
  order: 0;
}
#all_content div .home .buttons .p {
  order: 1;
}
#all_content div .home .buttons .register {
  order: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

#all_content div .LogIn .entries input {
  width: 64rem;
  border: 0px;
  border-bottom: 3px solid #aaaaaa;
  padding: 16% 1% 0%;
  height: 9rem;
  font-family: Poppins, Arial;
  font-weight: 300;
  font-size: 4rem;
  outline: none;
}

#all_content div .LogIn button {
  padding: 3% 12%;
  margin: 5rem auto;
  font-family: Poppins, Arial;
  font-size: 3.5rem;
  border-radius: 16rem;
  color: white;
  background-color: #58b697;
  border: 0px;
  outline: none;
}

#all_content {
  position: fixed;
  width: 100%;
}
#all_content div .LogIn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 100%;
}
#all_content div .LogIn .logout-icon {
  align-self: flex-end;
  width: 7%;
  margin: 7rem 12rem 0rem;
}
#all_content div .LogIn .logout-icon .logout-black {
  width: 100%;
  height: 100%;
}
#all_content div .LogIn .imgLogin {
  margin: 0px auto;
  padding: 5% 0% 6%;
  width: 37rem;
  height: 26rem;
}
#all_content div .LogIn .entries {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  margin-bottom: 9rem;
}
#all_content div .LogIn .icons {
  display: flex;
  padding: 5% 0% 63%;
  justify-content: space-evenly;
}
#all_content div .LogIn .icons .iconFace {
  width: 16rem;
  height: 16rem;
  border: 0px;
  border-radius: 18rem;
  margin: 3% 8%;
  box-shadow: 2px 13px 32px rgba(0, 0, 0, 0.35);
}
#all_content div .LogIn .icons .iconGoogle {
  width: 16rem;
  height: 16rem;
  border-radius: 13rem;
  margin: 3% 8%;
  box-shadow: 2px 13px 32px rgba(0, 0, 0, 0.35);
}
#all_content div .LogIn p {
  font-size: 4rem;
  text-align: center;
  font-family: Poppins, Arial;
  font-weight: 400;
  color: #606060;
  margin: 2rem 0px 0rem;
}
#all_content div .LogIn #registerAccount {
  color: #454545;
  font-weight: 500;
  margin: 1.5rem auto;
}
#all_content div .LogIn #registerAccount a {
  color: #1a936f;
  font-weight: bold;
  font-family: Poppins, Arial;
  text-decoration: none;
  cursor: pointer;
}

#div-publications {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
#div-publications .header-posts {
  width: 100%;
  height: 8.5%;
  position: fixed;
  top: 0;
  background-color: #137054;
  display: flex;
  z-index: 5;
  justify-content: space-between;
}
#div-publications .header-posts .logout-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#div-publications .header-posts .logout-icon .logout-white {
  width: 7.8%;
  height: 42%;
  margin: 0rem 0rem 0rem 5rem;
}
#div-publications .header-posts .lista-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.2%;
  height: 52%;
  margin: 3rem 5rem 0rem 0rem;
}
#div-publications .header-posts .lista-icon .lista-white {
  width: 100%;
  height: 100%;
}
#div-publications #head-create {
  width: 90%;
  margin: 21rem 0px 24rem;
  height: 65rem;
}
#div-publications #head-create .head-publications {
  width: 100%;
  height: 75%;
  background-color: #c4c4c4;
  align-self: center;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0rem 0px 4rem;
  justify-content: center;
}
#div-publications #head-create .head-publications .nameUser {
  width: 100%;
  background: #e8e8e8;
  height: 22%;
  border-radius: 0rem 0 3rem 3rem;
  align-self: flex-end;
  margin: 0px;
}
#div-publications #head-create .head-publications .imgProfile {
  width: 26%;
  z-index: 1;
  margin: 18rem auto -2rem;
  height: 59%;
  border-radius: 50%;
}
#div-publications #head-create .head-publications .imgProfile img {
  width: 100%;
  height: 100%;
}
#div-publications #head-create .createPublication {
  display: flex;
  width: 100%;
  height: 53%;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 2rem;
  border: 3px solid #dbdbdb;
}
#div-publications #head-create .createPublication #answer {
  width: 97%;
  font-family: Poppins, Arial;
  padding: 0.6rem 0rem 0.6rem 3rem;
  font-size: 2.8rem;
  margin: 0px;
  height: 13%;
  border-bottom: 1px solid #a2a2a2;
}
#div-publications #head-create .createPublication .newPublication {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0rem 3rem 3rem;
}
#div-publications #head-create .createPublication .newPublication .writePublication {
  width: 81%;
  height: 9%;
  font-family: Poppins, Arial;
  font-size: 3rem;
  padding: 1rem 0rem 13%;
  outline: none;
  border: 0px;
  border-radius: 0rem 0rem 2rem 2rem;
}
#div-publications #head-create .createPublication .newPublication #image-preview-div .imgPreview {
  width: 20rem;
  padding: 0rem 4rem;
}
#div-publications #head-create .createPublication .newPublication #buttons-publicate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#div-publications #head-create .createPublication .newPublication #buttons-publicate .publicate {
  width: 20rem;
  margin: 2rem auto;
  height: 6rem;
  border-radius: 3rem;
  background-color: #1fa39b;
  border: 0px;
  font-family: Poppins, Arial;
  font-size: 2.8rem;
  font-weight: 400;
  color: white;
}
#div-publications #head-create .createPublication .newPublication #buttons-publicate .uploadimg {
  width: 20rem;
  margin: 2rem auto;
  height: 6rem;
  border-radius: 3rem;
  background-color: white;
  border: 3px solid #1fa39b;
  font-family: Poppins, Arial;
  font-size: 2.8rem;
  font-weight: bolder;
  color: #1fa39b;
}
#div-publications .publications {
  width: 90%;
  align-self: center;
  border-radius: 2rem;
  justify-content: center;
  margin: 3rem auto 3rem;
}
#div-publications .publications .publication {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 9rem;
  height: 67.5rem;
  border-radius: 2rem;
}
#div-publications .publications .publication .all-info {
  display: flex;
  width: 100%;
  height: 48rem;
  margin-bottom: 1rem;
  flex-direction: row;
  border-radius: 2rem;
  border: 1px solid #606060;
}
#div-publications .publications .publication .all-info .inf-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-radius: 0rem 0rem 0rem 10rem;
  border-right: 1px solid #606060;
}
#div-publications .publications .publication .all-info .imgUser {
  width: 38%;
  background: gray;
  height: 32%;
  border-radius: 50%;
}
#div-publications .publications .publication .all-info .imgUser img {
  width: 100%;
}
#div-publications .publications .publication .all-info .buttons-post {
  display: flex;
  width: 100%;
  height: 8%;
  justify-content: space-between;
}
#div-publications .publications .publication .all-info .txtPublicate {
  font-size: 3rem;
  font-family: Poppins, Arial;
  font-weight: 500;
  text-align: center;
  width: 89%;
  margin: 5rem 0rem 1rem;
  height: 40%;
}
#div-publications .publications .publication .all-info .likes {
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: flex-start;
}
#div-publications .publications .publication .all-info .imgPublication {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#div-publications .publications .publication .all-info .imgPublication img {
  width: 93%;
  height: 67%;
  margin: 0px;
  padding: 2rem;
}
#div-publications .publications .publication .comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 23rem;
}
#div-publications .publications .publication .comments .commentsArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}
#div-publications .publications .publication .comments .newComment {
  display: flex;
  order: 0;
  height: 5.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
#div-publications .publications .publication .comments .newComment .writeComment {
  width: 79%;
  height: 67%;
  border-radius: 2rem;
  border: 1px solid #4c4c4c;
  background: white;
  padding: 0.5rem 3rem;
  outline: none;
  font-size: 2.5rem;
  font-family: Poppins;
  font-weight: 500;
  color: #454545;
}
#div-publications .publications .publication .comments .newComment .pushComment {
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 600;
  color: white;
  border-radius: 3rem;
  padding: 1rem 2rem;
  border: 1px solid #1fa39b;
  outline: none;
  background-color: #1fa39b;
}

#div-profile .information-user .boxPass .i-pro, #div-profile .information-user .boxEmail .i-pro, #div-profile .information-user .boxName .i-pro {
  order: 0;
  height: 8rem;
  width: 78%;
  font-size: 4rem;
  padding: 2rem;
  font-family: Poppins;
  border: 0;
  outline: none;
  background: white;
}

#div-profile .information-user .boxPass #editPassword img, #div-profile .information-user .boxName #editName img {
  order: 1;
  width: 7%;
  height: 39%;
  padding: 3.5rem;
}

#div-profile .information-user .boxPass, #div-profile .information-user .boxName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

#div-profile .information-user .buttons .upload, #div-profile .information-user .buttons .buttons-upload .upload {
  width: 40%;
  padding: 1rem 3rem;
  font-size: 3rem;
  font-family: Poppins;
  line-height: 4rem;
  background: white;
  color: #1fa39b;
  border-radius: 3rem;
  border: 4px solid #1fa39b;
  outline: none;
  font-weight: 600;
}

#div-profile {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#div-profile .header-profile {
  width: 100%;
  height: 8.5%;
  position: fixed;
  top: 0;
  background-color: #137054;
  display: flex;
  z-index: 5;
  justify-content: space-between;
}
#div-profile .header-profile .logout-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#div-profile .header-profile .logout-icon .logout-white {
  width: 7.8%;
  height: 42%;
  margin: 0rem 0rem 0rem 5rem;
}
#div-profile .head-profile {
  padding: 15rem 0rem;
}
#div-profile .information-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 73%;
  height: 39%;
  margin-top: 18rem;
}
#div-profile .information-user .buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 11rem;
  width: 100%;
  height: 29%;
}
#div-profile .information-user .buttons .buttons-upload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#div-profile .information-user .buttons .upload {
  padding: 3rem 3rem;
  background: #1fa39b;
  color: white;
  letter-spacing: 0.1rem;
  font-size: 3.5rem;
  margin-top: 6rem;
}

#all_content div .SignUp .entries input {
  width: 64rem;
  border: 0px;
  border-bottom: 3px solid #aaaaaa;
  padding: 9% 1% 0%;
  height: 7.5rem;
  font-family: Poppins, Arial;
  font-weight: 300;
  font-size: 4rem;
  outline: none;
}

#all_content div .SignUp button {
  padding: 3% 12%;
  margin: 5rem auto 4rem;
  font-family: Poppins, Arial;
  font-size: 3.5rem;
  border-radius: 16rem;
  color: white;
  background-color: #58b697;
  border: 0px;
  outline: none;
}

#all_content div .SignUp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  height: 100%;
}
#all_content div .SignUp .logout-icon {
  align-self: flex-end;
  width: 7%;
  margin: 7rem 12rem 0rem;
}
#all_content div .SignUp .logout-icon .logout-black {
  width: 100%;
  height: 100%;
}
#all_content div .SignUp .imgSignUp {
  margin: 0px auto;
  padding: 5% 0% 4%;
  width: 37rem;
  height: 26rem;
}
#all_content div .SignUp .entries {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  margin-bottom: 3rem;
}
#all_content div .SignUp .icons {
  display: flex;
  padding: 3% 0% 63%;
  justify-content: space-evenly;
}
#all_content div .SignUp .icons .iconFace {
  width: 16rem;
  height: 16rem;
  border: 0px;
  border-radius: 18rem;
  margin: 3% 8%;
  box-shadow: 2px 13px 32px rgba(0, 0, 0, 0.35);
}
#all_content div .SignUp .icons .iconGoogle {
  width: 16rem;
  height: 16rem;
  border-radius: 13rem;
  margin: 3% 8%;
  box-shadow: 2px 13px 32px rgba(0, 0, 0, 0.35);
}
#all_content div .SignUp p {
  font-size: 3.5rem;
  text-align: center;
  font-family: Poppins, Arial;
  font-weight: 400;
  color: #606060;
  margin: 0px;
}
#all_content div .SignUp #haveAccount {
  color: #454545;
  font-weight: 500;
  margin: 3rem auto 0rem;
}
#all_content div .SignUp #haveAccount a {
  color: #1a936f;
  font-weight: bold;
  font-family: Poppins, Arial;
  text-decoration: none;
  cursor: pointer;
}

#div-404 {
  display: flex;
  width: 100%;
  height: 100%;
  background: white;
  flex-direction: column;
  align-items: center;
}
#div-404 .content404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#div-404 .content404 .img404 {
  width: 90%;
  margin-top: 39rem;
}
#div-404 .content404 .txtups {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 500;
  font-family: Poppins, Arial;
}
#div-404 .content404 .back-publications {
  width: 40%;
  height: 12rem;
  border-radius: 4rem;
  font-size: 3.3rem;
  font-family: Poppins, Arial;
  background-color: #1a936f;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  border: 0px;
  margin-top: 8rem;
}

/*# sourceMappingURL=style.css.map */
